body { 
    background: #ADD8E6;
    padding: 50px;
    }
h1,
h2,
h3 {
    color: #ADD8E6;
    font-family: sans-serif;
}
img {
    width: 190px;
}

#page {
    max-width: 900px;
    margin: 0 auto 0 auto;
    background: white;
    padding: 30px;
}
