body {
  background: rgb(219, 198, 239);
  padding: 20px;
  margin: 20px;
  font-weight: normal;
}

UL {
    color:rgb(151, 199, 245)
}

H1 {background: cyan;
}

.highlight_01 {
    background: rgb(169, 231, 231);
    color: rgb(0, 0, 0);
}
.highlight_01 strong {}